<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">@Title</h5>
        <p class="card-text display-4">@Value</p>
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; }

    [Parameter] public int Value { get; set; }
}